#勘で設定する。torchとかはある前提。普通入れてるやろっていうライブラリ入れない。
diffusers>=0.30.0
accelerate
wandb
transformers
omegaconf
safetensors
diffusers-anima @ git+https://github.com/hdae/diffusers-anima.git ; python_version >= "3.12"
